{% extends 'base.html' %}

{% load static %}


{% block content %}
    <form class="" action="{% url 'registration' %}" method="post">{% csrf_token %}
        <h2 class=""> Registration </h2>
        {{ form.non_field_errors }}

        <div class="form-group">
            {{ form.username.errors }}
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" name="username"  placeholder="Username" required>
        </div>

        <div class="form-group">
            {{ form.role.errors }}
            <label for="id_role">Role</label>
            <select id="id_role" name="role" class="form-control">
                {% for x,y in form.fields.role.choices %}
                    <option value="{{ x }}">{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.password1.errors }}
            <label for="id_password1">Password</label>
            <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Password" required>
        </div>
        <div class="form-group">
            {{ form.password2.errors }}
            <label for="id_password2">Repeat Password</label>
            <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
