{% extends 'base.html' %}

{% load static %}


{% block content %}
    <form class="" action="{% url 'create_article' %}" method="post">{% csrf_token %}
        <h2 class=""> New article </h2>
         {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            <label for="id_name">Article name</label>
            <input type="text" class="form-control"  name="name" id='id_name'  placeholder="Article name" required>
        </div>
        <div class="form-group">
            {{ form.link_to_article.errors }}
            <label for="id_link_to_article">Link to article</label>
            <input type="text" class="form-control" name="link_to_article" id='id_link_to_article' placeholder="Link to article" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}