{% extends 'base.html' %}

{% load static %}


{% block content %}
    <form class="" action="{% url 'update_article' pk=object.id %}" method="post">{% csrf_token %}
        <h2 class=""> New article </h2>

        <div class="form-group">
            {{ form.non_field_errors }}
            {{ form.name.errors }}
            <label for="id_name">Article name</label>
            <input type="text" class="form-control"  name="name" id='id_name'  placeholder="Article name" required value="{{ object.name }}">
        </div>
        <div class="form-group">
            {{ form.link_to_article.errors }}
            <label for="id_link_to_article">Link to article</label>
            <input type="text" class="form-control" name="link_to_article" id='id_link_to_article' placeholder="Link to article" value="{{ object.link_to_article }}">
        </div>
        {% if user == object.author and object.status == 0 %}
            <div class="checkbox">
                <label><input type="checkbox" name="to_review" id='id_to_review"' > To review</label>
            </div>
        {% elif user.role == 1 and object.status == 2 %}
            <div class="checkbox">
                <label><input type="checkbox" name="reviewed" id='id_reviewed"' > Reviewed</label>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}